<form action= "{% url 'add_material' %}" method="POST">  
    {% csrf_token %}  
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title col-11 text-center" id="staticBackdropLabel">Añadir/Modificar Material</h5>
        <button type="button" class="btn btn-danger col-auto" data-bs-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
            
                <input id="codigo" name="codigo" type="text" class="form-control mb-3" placeholder="Codigo" aria-label="Codigo" aria-describedby="basic-addon1" required>

                <textarea id="nombre" name="nombre" class="form-control mb-3" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1" required></textarea>

                <input id="tasa" name="tasa" type="text" class="form-control mb-3" placeholder="Tasa" aria-label="Tasa" aria-describedby="basic-addon1">

                <input id="unidad" name="unidad" type="text" class="form-control mb-3" placeholder="Unidad" aria-label="Unidad" aria-describedby="basic-addon1" required>

                <textarea id="familias" name="familias" class="form-control mb-3" placeholder="Familias" aria-label="Familias" aria-describedby="basic-addon1"></textarea>

                <textarea id="alias" name="alias" class="form-control" placeholder="Alias" aria-label="Alias" aria-describedby="basic-addon1"></textarea>

        </div>
        <div class="modal-footer">
        <input type="submit" value="Guardar Cambios" class="btn btn-primary">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
    </div>
    </div>
</form>