{% load static %}
{% load crispy_forms_tags %} 


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="{% static 'presup/layoutStyle.css' %}" rel='stylesheet'>
        <link href="{% static 'presup/modalStyle.css' %}" rel='stylesheet'>
        <link href="{% static 'presup/precioStyle.css' %}" rel='stylesheet'>
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {{ form.media }}
        
        


    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid"> 
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                                Menu
                            </button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Opcion 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Opcion 2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Opcion 3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Opcion 4</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Opcion 5</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Opcion 6</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <button  type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#material_modal" onclick="clear_material_modal()"><i class='bx bx-add-to-queue'></i></button>
                        <button  type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#suplidor_modal" onclick="clear_suplidor_modal()"><i class='bx bx-add-to-queue'></i></button>
                        <button  type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#precios_modal" onclick="clear_precios_modal()"><i class='bx bx-add-to-queue'></i></button>
                        <button  type="button" hx-get="{% url 'analisis' %}" hx-target="#modal_container" hx-swap="innerHTML" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#modal"><i class='bx bxs-user-detail'></i></button>
                        <input id="searchbox" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" onkeyup="myFunction()" onsearch="myFunction()">
                    </form>
                </div>
            </div>
          </nav>
    

        <!-- Offcanvas -->
        <div class="offcanvas offcanvas-start pr-5" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel"></h5>
                <button type="button" class="btn text-reset" data-bs-dismiss="offcanvas" aria-label="Close">X</button>
                
            </div>
            <div class="offcanvas-body">
                <div class="list-group list-group-flush text-center">
                    <div class="mt-5">
    
                    </div>
                    <button hx-get="{% url 'index' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Presupuesto</button>
                    <button hx-get="{% url 'cliente' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Cliente</button>
                    <button hx-get="{% url 'proyecto' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Proyectos</button>
                    <button hx-get="{% url 'analisis' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Analisis</button>
                    <button hx-get="{% url 'material' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Materiales</button>
                    <button hx-get="{% url 'precios' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Precios</button>
                    <button hx-get="{% url 'suplidor' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Suplidores</button>
                    <button hx-get="{% url 'analisis' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Cubicaciones</button>
                    <button hx-get="{% url 'analisis' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Cronogramas</button>
                    <button hx-get="{% url 'analisis' %}" hx-target="#body_content" data-bs-dismiss="offcanvas" class="list-group-item list-group-item-action col-12">Indice de Precios</button>
                </div>  
            </div>
        </div>

        <div id="body_content">
            

        </div>


         <!-- Modal -->
        <div id="modal_container" >
            
        </div>
        




        <script src="{% static 'presup/layoutScript.js' %}"></script>
        <script src="{% static 'presup/modalScript.js' %}"></script>
        <script src="{% static 'presup/precioScript.js' %}"></script>
        <script src="{% static 'presup/materialScript.js' %}"></script>
        <script src="https://unpkg.com/htmx.org@1.9.0"></script>

        
    </body>

</html>
        
    