
<div>
    <table class="table table-hover" id="view_table" data-toggle="table" data-search="true"> 
        <thead class="thead-dark">
            
            <tr>
                <th data-field="CODIGO" scope="col"><button type="button" class="btn btn-outline-primary mx-2" onclick="sortTable(0,'view_table')"></button>CODIGO</button><button type="button" class="btn btn-outline-primary mx-2" onclick="reverse_sortTable(0,'view_table')"></button></th>
                <th data-field="NOMBRE" scope="col"><button type="button" class="btn btn-outline-primary mx-2" onclick="sortTable(1,'view_table')"></button>NOMBRE<button type="button" class="btn btn-outline-primary mx-2" onclick="reverse_sortTable(1,'view_table')"> </button></th>
                <th data-field="TASA" scope="col"><button type="button" class="btn btn-outline-primary mx-2" onclick="sortTable(2,'view_table')"></button>TASA<button type="button" class="btn btn-outline-primary mx-2" onclick="reverse_sortTable(2,'view_table')"> </button></th>
                <th data-field="UNIDAD" scope="col"><button type="button" class="btn btn-outline-primary mx-2" onclick="sortTable(3,'view_table')"></button>UNIDAD<button type="button" class="btn btn-outline-primary mx-2" onclick="reverse_sortTable(3,'view_table')"> </button></th>
                <th data-field="ALIAS" scope="col"><button type="button" class="btn btn-outline-primary mx-2" onclick="sortTable(4,'view_table')"></button>ALIAS<button type="button" class="btn btn-outline-primary mx-2" onclick="reverse_sortTable(4,'view_table')"> </button></th>
                <th data-field="FAMILIAS" scope="col"><button type="button" class="btn btn-outline-primary mx-2" onclick="sortTable(5,'view_table')"></button>FAMILIAS<button type="button" class="btn btn-outline-primary mx-2" onclick="reverse_sortTable(5,'view_table')"> </button></th>
            </tr>
        </thead>
        <tbody>
            {% for list in listado %}
            <tr>
                <td>{{list.codigo}}</td>
                <td>{{list.nombre}}</td>
                <td>{{list.tasa}}</td>
                <td>{{list.unidad}}</td>
                <td>{{list.alias}}</td>
                <td>{{list.familias}}</td>
                <td>
                    <button type="button" class="btn btn-success" hx-get="{% url 'editar_material' list.codigo %}" hx-target="#modal_container">
                    <i class='bx bxs-edit'></i>
                    </button>
                </td>  
                <td>
                    <button type="button" class="btn btn-danger" hx-get="{% url 'eliminar_material' list.codigo %}" hx-target="#modal_container">
                        <i class='bx bxs-trash'></i>
                    </button>
                </td>               
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>

