
<div>
    <table class="table table-hover" id="view_table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">CODIGO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">UNIDAD</th>
                <th scope="col">PRECIO SIN ITBIS</th>
                <th scope="col">ITBIS</th>
                <th scope="col">PRECIO CON ITBIS</th>
                <th scope="col">SUPLIDOR</th>
                <th scope="col">FECHA</th>
                <th scope="col">MARCA</th>
            </tr>
        </thead>
        <tbody>
            {% for list in listado_precios %}
            <tr>
                <td>{{list.material.codigo}}</td>
                <td>{{list.material.nombre}}</td>
                <td>{{list.material.unidad}}</td>
                <td>{{list.precio_sin_itbis}}</td>
                <td>{{list.itbis}}</td>
                <td>{{list.precio_itbis}}</td>
                <td>{{list.suplidor.suplidor}}</td>
                <td>{{list.fecha|date:"Y-m-d"}}</td>
                <td>{{list.marca}}</td>
                <td><button id ="{{list.material.codigo}}_{{list.suplidor.suplidor}}"
                    data-codigo="{{list.material.codigo}}" 
                    data-suplidor="{{list.suplidor.suplidor}}"
                    data-precio="{{list.precio}}" 
                    data-marca="{{list.marca}}" 
                    data-fecha="{{list.fecha|date:'Y-m-d'}}"
                    button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#precios_modal"
                    onClick="fill_precios_modal(this.id)"><i class='bx bxs-edit'></i></button>
                
                    <button id ="{{list.material.codigo}}_{{list.suplidor.suplidor}}__"
                    data-id="{{list.id}}" 
                    button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar_precios_modal"
                    onClick="fill_eliminar_precios_modal(this.id)"><i class='bx bxs-trash'></i></button>
                </td>               
            </tr>
            {% endfor %}
        </tbody>
    </table>  
</div>
