{% extends "presup/layout.html" %}

{% block title %}Precios{% endblock %}

{% block body %}
<div >
    <input class="form-control me-2" type="search" id="form-control me-2" onkeyup="myFunction()" onsearch="myFunction()">
</div>
<table class="table table-hover" id="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">CODIGO</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">UNIDAD</th>
            <th scope="col">PRECIO SIN ITBIS</th>
            <th scope="col">ITBIS</th>
            <th scope="col">PRECIO CON ITBIS</th>
            <th scope="col">SUPLIDOR</th>
            <th scope="col">FECHA</th>
            <th scope="col">MARCA</th>
        </tr>
      </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>MA-MISC-ABR-PERA-1½</td>
            <td>Abrazadera Tipo Pera 1 1/2"</td>
            <td>U</td>
            <td>37.15</td>
            <td>6.69</td>
            <td>43.84</td>
            <td>Rodfor Team, SRL</td>
            <td>07-Dec-22</td>
            <td></td>               
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>MA-MISC-ABR-PERA-1</td>
            <td>Abrazadera Tipo Pera 1"</td>
            <td>U</td>
            <td>28.09</td>
            <td>5.06</td>
            <td>33.15</td>
            <td>Ferretería Ochoa</td>
            <td>07-Dec-22</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>EQ-COND-EVA-FCOIL-24KBTU</td>
            <td>Unidad Independiente Tipo Fan Coil de 24,000 BTU</td>
            <td>U</td>
            <td>124,000.00</td>
            <td>22,320.00</td>
            <td>146,320.00</td>
            <td>Refricentro Rubiera</td>
            <td>2/22/2023</td>
            <td>LG</td>
        </tr>
    </tbody>
  </table>  

{% endblock %}
