
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
    width: 275px;
    background-color: grey ;
    min-height: 100vh;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    
    
    
}

.menu_head{
display : flex;
background-color: rgb(54, 54, 54);
height: 75px;
align-items: center;
justify-content: center;
}

.logo_name{
    font-size:30px;
    color: orange;
    padding: 5px;
}

.menu_button{
    font-size: 30px;
    color: orange;
    padding: 5px;
    display: none;
}

div > ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}

.options{
    font-size: 22.5px;
    color: orange;
    padding: 15px;
    
    
}



.options:hover{
    background-color: orange;
    color: grey;
    border-radius: 5px;
    font-size: 24px;

}

.options > span {
    padding-left: 10px;
    padding-right: 10px;    
}

body{
    position: relative;
}





.wrapper{
    margin-left: 275px;
    padding: 10px;
    max-width: calc(100% - 275px);
    min-height: 100vh;
    font-size: 100px;
    background-color: rgb(233,233,233); 
}


.sidebar::-webkit-scrollbar {
    width: 0px;
    background-color:  rgba(255, 166, 0, 0);
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 166, 0, 0);
  }
