
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
    width: 275px;
    background-color: grey ;
    min-height: 100vh;
    
}

.menu_head{
display : flex;
background-color: rgb(54, 54, 54);
height: 75px;
align-items: center;
justify-content: center;
}

.logo_name{
    font-size:30px;
    color: orange;
    padding: 5px;
}

.menu_button{
    font-size: 30px;
    color: orange;
    padding: 5px;
    display: none;
}

div > ul {
    list-style-type: none;
    padding: 10px;
}

.options{
    font-size: 22.5px;
    color: orange;
    padding: 15px;
    
    
}

.menu_options{

}

.options:hover{
    background-color: orange;
    color: grey;
    border-radius: 5px;
    font-size: 24px;

}

.options > span {
    padding-left: 10px;
    padding-right: 10px;
    
}

